.main > header {
  background-color: #36383a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}
.main > header > div {
  display: grid;
  justify-items: center;
}
.main {
  display: grid;
  grid-template-rows: auto 1fr;
}
.lower {
  display: grid;
  grid-auto-flow: column;
  width: 90%;
  gap: 2%;
  grid-template-rows: auto auto;
  align-self: center;
  justify-self: center;
}

.content > img {
  height: 100%;
}
.content > h2 {
  position: absolute;
  left: 15px;
  bottom: 10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.images {
  position: relative;
  height: 450px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 20px;
}
.images a {
  height: 400px;
  aspect-ratio: 16/9;
}
.content {
  height: 100%;
  position: relative;
}
