.userDropdown {
  position: absolute;
  top: 40px;
  right: -10px;
  width: 230px;
  background-color: rgb(29, 29, 29);
  box-shadow: 0 0 4px black;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 50px 36px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.userDropdown::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -8px;
  right: 20px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-bottom: 8px solid rgb(29, 29, 29);
}
.userDropdown > *:hover {
  background-color: var(--dark-background-color);
}
.userDropdown > * {
  padding-left: 18px !important;
  border-bottom: 1px solid grey;
}
.user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto 1fr;
  justify-items: start;
  column-gap: 12px;
  height: 100% !important;
}
.user > img {
  height: 24px;
  border-radius: 50%;
  grid-row: span 2;
  align-self: center;
  justify-self: start;
}
.user > h3 {
  font-size: 16px;
  align-self: flex-end;
}
.user > p {
  font-size: 14px;
  color: grey;
}
.logout {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.logout {
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 12px;
}
